<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon name="log-in" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam facere eius ab possimus deleniti doloremque perspiciatis, accusantium beatae odio aliquam pariatur temporibus modi corrupti harum nulla assumenda minus suscipit?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam facere eius ab possimus deleniti doloremque perspiciatis, accusantium beatae odio aliquam pariatur temporibus modi corrupti harum nulla assumenda minus suscipit?
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
